body {
  color: #8843F2;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #F6FFA4;
}

h1 {
  color: #42C2FF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #42C2FF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

hr {
  border: dotted #FFA8A8 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
.change {
  border-radius: 100%;
}

a{
  color: green;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.top-container {
  background-color: #B6FFCE;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
  background-color: #F6FFA4;
}

.bottom-container {
  background-color: #FDD7AA;
  padding: 50px 0 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

.copyright {
  color: black;
  font-size: 0.75rem;
  padding: 20px 0;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.code-img {
  width: 22%;
  float: left;
  margin-right: 30px;
}

.chilli-img {
  width: 35%;
  float: right;
  margin-left: 30px;
}
